.TextField {
  display: block;
  width: 100%;
}
.TextField_label {
  display: block;
  min-height: 20px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, .6);
}
.TextField_input {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  box-sizing: border-box;
}
.TextField_input:focus,
.TextArea_input:focus{
  box-shadow: 0 0 0 2px rgba(69, 165, 255, .5);
  z-index: 1;
}
.TextField_input::placeholder,
.TextArea {
  color: rgba(0, 0, 0, .4);
}
.TextField_caption {

}
.TextField_caption___error {

}
.TextField___grouped > .TextField_input{
  border-radius: 0;
}
.TextField___grouped:first-child > .TextField_input{
  border-radius: 5px 0 0 5px;
}
.TextField___grouped:last-child > .TextField_input{
  border-left: none;
  border-radius: 0 5px 5px 0;
}
.Group {
  display: flex;
  width: 100%;
}
.TextArea_input {
  display: block;
  width: 100%;
  min-height: 140px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  line-height: 25px;
  color: #000;
  box-sizing: border-box;
}